
:root {
    /* colors: */
    --background-grey-lighter: rgb(74, 74, 74);
    --background-grey-mild:    rgb(57, 57, 57);
    --background-grey-light:   rgb(44, 44, 44);
    --background-grey-dark:    rgb(25, 25, 25);

    --text-primary: white;
    --text-subtle: rgb(190, 190, 190);
    --text-subtler: rgb(125, 125, 125);

    --minecraft-green:       rgb(90, 169, 56);
    --minecraft-green-hover: rgb(87, 148, 61);
    --minecraft-green-light: rgb(137, 236, 56);
    --minecraft-green-dark:  rgb(13, 95, 49);

    /* vars: */
    --section-gap: 0.6rem;
    --default-padding: 0.5rem;

    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    color: white;
}

.text-subtle {
    color: var(--text-subtle);
}

.text-subtler {
    color: var(--text-subtler);
    font-weight: 600;
}

.text-dense {
    font-size: 0.75rem;
    line-height: 100%;
    font-weight: normal;
}

.card {
    background-color: var(--background-grey-light);
    padding: var(--default-padding);

    border-radius: 0.125rem;
    border: 1px solid var(--background-grey-mild);
}

.card-header {
    color: var(--text-primary);
    background-color: var(--minecraft-green);
    text-shadow: 0 2px rgba(0, 0, 0, 0.3);

    width: 95%;
    padding: var(--default-padding);
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
    border-top: 3px solid var(--minecraft-green-light);
    border-bottom: 3px solid var(--minecraft-green-dark);
    border-radius: 0.125rem;
}

.card-header p {
    margin: 2px;
}

.card-header:not(:first-of-type){
    margin-top: 1.5rem;
}

.tooltip {
    user-select: none;
    pointer-events: none;
    position: fixed;

    width: max-content;
    max-width: 25vw;
    padding: 6px;
    box-sizing: content-box;

    opacity: 0;
    z-index: 9;
    transition: opacity 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    
    color: var(--text-primary);
    background-color: var(--background-grey-light);

    border: 3px solid var(--background-grey-lighter);
    border-radius: 0.125rem;

    & * {
        margin: 6px;
    }
}

*:has(> .tooltip):hover .tooltip {
    opacity: 0.80;
}

.content {
    transition: height 1s ease;
    max-width: 56rem;

    margin: auto;
    margin-top: calc(var(--section-gap) * 2);
    margin-bottom: calc(var(--section-gap) * 2);
  
    display: flex;
    flex-direction: column;
    place-items: center;
    align-self: center;
}

body {
    background-color: var(--background-grey-dark);
}

button {
    text-shadow: 0 2px rgba(0, 0, 0, 0.3);
    color: var(--text-primary);
    background-color: var(--minecraft-green);
    padding: var(--default-padding);
    margin: 0.5rem;

    border: none;
    border-radius: 0.125rem;
    border-bottom: 3px solid var(--minecraft-green-dark);

    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: bolder;
}

button:hover {background-color: var(--minecraft-green-hover);}

button:is(:disabled, :active) {
    background-color: var(--minecraft-green-dark);
    color: var(--text-subtle);
}

hr {
    border: none;
    border: 1px solid var(--text-subtler);
    border-radius: 2px;
    margin: var(--section-gap);
}

input {
    color: var(--text-subtle);
    background-color: var(--background-grey-dark);
    font-weight: bolder;
    font-size: large;

    height: 2.75rem;
    margin: 0.75rem;
    padding-left: 0.75rem;
    border: 2px solid var(--background-grey-lighter);
}

input:focus {
    border: none;
    border: 2px solid var(--minecraft-green-light);
    border-radius: 0.25rem;
}

strong {
    color: var(--minecraft-green);
}

a {
    color: var(--minecraft-green-light);
}

pre:has(> code) {
    background-color: var(--background-grey-dark);
    white-space: pre-wrap;
    padding: 12px;
    outline: solid 1px var(--background-grey-mild);
}

code:not(pre code) {
    background-color: var(--background-grey-dark);
    padding: 3px;
    outline: solid 1px var(--background-grey-mild);
}